/*
    ◯変数解説
        --key-wh: 白鍵のheight
        --key-bk: 黒鍵のheight
*/

:root {
    --key-wh: calc(1 / 27 * 90vh);
    --key-bh: calc(1 / 27 * 90vh * 0.6);
}

html,
body {
    /* width: 100vw; height: 100vh; */
    margin: 0;
    background-color: #000;
}

#app {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

#top_ui,
#bottom_ui {
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #141414dd;
}

.ui_btn {
    width: 7%;
    height: 100%;
    border: none;
    color: #eee;
    font-size: 134%;
    background-color: #000;
    transition: background-color .2s;
}

.ui_btn:hover {
    background-color: #333;
}

.label {
    display: none;
}

.pulldown {
    width: 14%;
    height: 50%;
    margin-left: 3%;
    text-align: center;
    border-radius: 18px;
    background-color: #eee;
}

#bottom_ui p {
    color: #eee;
}

#editor {
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

#keyboards {
    width: 10.5%;
    height: auto;
    z-index: 0;
    position: relative;
    overflow: hidden auto;
    background-color: #fff;
}

#keyboards::-webkit-scrollbar {
    width: 7px;
}

#keyboards::-webkit-scrollbar-track {
    background: transparent;
}

#keyboards::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #f707;
}

#keyboards::-webkit-scrollbar-thumb:hover {
    background-color: #f70;
}

#white_keyboards {
    width: 100%;
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.white_key,
.drum_key {
    width: 100%;
    height: var(--key-wh);
    border: none;
    border-top: 1px solid #000;
}

/* 未確定箇所　ここから */
.white_key {
    background-color: #fff;
}

.white_key:hover {
    background-color: #77f;
}

/* 未確定箇所　ここまで */

#black_keyboards {
    width: 62%;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
    /* background-color: #00f7; */
}

#black_keyboards .black_key:nth-child(1) {
    margin-top: calc((var(--key-wh) * 2) - (var(--key-bh) / 2));
}

#black_keyboards .black_key:nth-child(5n),
#black_keyboards .black_key:nth-child(5n+2),
#black_keyboards .black_key:nth-child(5n+3) {
    margin-top: calc(var(--key-wh) - var(--key-bh));
}

#black_keyboards .black_key:nth-child(5n+1):not(:nth-child(1)),
#black_keyboards .black_key:nth-child(5n+4) {
    margin-top: calc((var(--key-wh) * 2) - var(--key-bh));
}

.black_key {
    width: 100%;
    height: var(--key-bh);
    background-color: #000;
}

#drums_keyboards {
    z-index: 1;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: calc(var(--key-wh) * 50);
}

/* 未確定箇所　ここから */
.drum_key {
    background-color: #afa;
}

.drum_key:hover {
    background-color: #7f7;
}

/* 未確定箇所　ここまで */

#grid {
    width: 89.5%;
    height: 100%;
    background-color: #333;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #00000080;
}

#spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    border: 7px solid #eee;
    border-top: 7px solid #f70;
}
