/*
    ◯変数解説
        --key-wh: 白鍵のheight
        --key-bk: 黒鍵のheight
*/

:root {
    --key-wh: calc(1 / 27 * 90vh);
    --key-bh: calc(1 / 27 * 90vh * 0.6);
}

html, body {
    -webkit-user-select: none;
    margin: 0;
    user-select: none;
    background-color: #000;
}

#app {
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

#top_ui, #bottom_ui {
    top: 0; left: 0;
    width: 100%; height: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #000;
}

.file_btns {
    width: 60px; height: 34px;
    margin: 1px;
    border: none;
    background-color: #000;
    transition: background-color .2s ease;
}

.file_btns:hover { background-color: #333; }

.btn_divs {
    width: auto; height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.mode_btns, .ctrl_btns, .page_btn {
    margin: 3px;
    border: none;
    border-radius: 7px;
    background-color: #000;
    transition: background-color .2s ease;
}

.mode_btns:hover, .ctrl_btns:hover, .page_btn:hover { background-color: #333; }

.mode_btns.selected, .mode_btns.selected:hover,
.ctrl_btns.selected, .ctrl_btns.selected:hover {
    background-color: #f707;
}

.file_img, .mode_img, .ctrl_img, .page_btn_img {
    width: 100%; height: 100%;
    pointer-events: none;
}

.pulldown {
    width: 18%; height: 50%;
    margin-left: 18px;
    text-align: center;
    border-radius: 18px;
    background-color: #eee;
}

.property_divs {
    width: 18%; height: 50%;
    display: flex;
    margin-left: 18px;
    align-items: center;
    border-radius: 18px;
    background-color: #eee;
}

.property_img { width: auto; height: 100%; }

#vol_label, #dur_label { text-align: right; }

#vol_label { width: 47px; }

#dur_label { width: 68px; }

#vol_input, #dur_input {
    width: 70%; height: 34%;
    appearance: none;
    border-radius: 18px;
}

#vol_input {
    background: linear-gradient(
        to right, 
        #f70 0%, #f70 var(--vol-value), 
        #777 var(--vol-value), #777 100%
    );
}

#dur_input {
    background: linear-gradient(
        to right, 
        #f70 0%, #f70 var(--dur-value), 
        #777 var(--dur-value), #777 100%
    );
}

#vol_input::-webkit-slider-thumb,
#dur_input::-webkit-slider-thumb {
    width: 14px; height: 14px;
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    background: #f70;
    border: 1px solid #000;
    transition: all 0.2s ease;
}

#vol_input::-webkit-slider-thumb:hover,
#dur_input::-webkit-slider-thumb:hover {
    width: 18px; height: 18px;
}

#color_input {
    border: none;
    margin-left: 18px;
}

#BPM_label, #key_label {
    color: #eee;
    margin: 0 7px;
    font-size: larger;
}

#BPM_input, #key_input, #page_input {
    width: 3%; height: 70%;
    border: none;
    color: #eee;
    font-size: 1.4vw;
    background: none;
    text-align: right;
    border-radius: 7px;
}

#BPM_input::-webkit-inner-spin-button, 
#key_input::-webkit-inner-spin-button,
#page_input::-webkit-inner-spin-button {
    display: none;
}

.ctrls {
    width: auto; height: 100%;
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    flex-direction: column;
    justify-content: center;
}

.BPM_ctrls, .key_ctrls {
    width: 14px; height: 14px;
    color: #f70;
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
}

#bottom_ui p {
    width: auto; height: 100%;
    margin: 0;
    float: right;
    display: flex;
    color: #eee;
    align-items: flex-end;
}

#left_bottom_ui, #right_bottom_ui {
    width: 50%; height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#right_bottom_ui {
    color: #eee;
}

#pages {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#page_input {
    width: 7%;
}

.left_uis {
    width: auto; height: 100%;
    margin-right: 24px;
}

.left_labels {
    color: #eee;
    font-size: 3vh;
}

#editor {
    top: 0; left: 0;
    width: 100%; height: 90%;
    display: flex;
    flex-direction: row;
}

#keyboards {
    width: 10.5%; height: auto;
    z-index: 0;
    position: relative;
    overflow: hidden auto;
    background-color: #fff;
}

#top_ui::-webkit-scrollbar,
#canvas::-webkit-scrollbar,
#info::-webkit-scrollbar {
    width: 7px;
}

#keyboards::-webkit-scrollbar { display: none; }

#top_ui::-webkit-scrollbar-track,
#canvas::-webkit-scrollbar-track,
#info::-webkit-scrollbar-track {
    background: transparent;
}

#top_ui::-webkit-scrollbar-thumb,
#canvas::-webkit-scrollbar-thumb,
#info::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #f707;
}

#top_ui::-webkit-scrollbar-thumb:hover,
#canvas::-webkit-scrollbar-thumb:hover,
#info::-webkit-scrollbar-thumb:hover {
    background-color: #f70;
}

#white_keyboards {
    z-index: 1;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.white_key, .drum_key {
    width: 100%; height: var(--key-wh);
    border: none;
    border-top: 1px solid #000;
}

.white_key {
    font-size: larger;
    text-align: right;
    background-color: #fff;
}

#black_keyboards {
    width: 62%;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
}

#black_keyboards .black_key:nth-child(1) {
    margin-top: calc((var(--key-wh) * 2) - (var(--key-bh) / 2));
}

#black_keyboards .black_key:nth-child(5n),
#black_keyboards .black_key:nth-child(5n+2),
#black_keyboards .black_key:nth-child(5n+3) {
    margin-top: calc(var(--key-wh) - var(--key-bh));
}

#black_keyboards .black_key:nth-child(5n+1):not(:nth-child(1)),
#black_keyboards .black_key:nth-child(5n+4) {
    margin-top: calc((var(--key-wh) * 2) - var(--key-bh));
}

.black_key {
    width: 100%; height: var(--key-bh);
    border: none;
    background-color: #000;
}

#drums_keyboards {
    z-index: 1;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: calc(var(--key-wh) * 50);
}

.drum_key { background-color: #fff; }

#canvas {
    width: 89.5%; height: auto;
    position: relative;
    overflow: hidden auto;
    background-color: #333;
}

.canvas { position: absolute; }

#grid {
    z-index: 1;
    pointer-events: none;
    background-color: #333;
}

#put_notes { z-index: 2; }

#move_notes {
    z-index: 3;
    background-color: #0000;
}

#move_bar {
    z-index: 4;
    pointer-events: none;
    background-color: #0000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 9999;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #00000080;
}

#spinner {
    width: 70px; height: 70px;
    border-radius: 50%;
    border: 7px solid #eee;
    border-top: 7px solid #f70;
    animation: spin 0.7s linear infinite;
}

/* === モーダル類 === */

#modal_back {
    width: 100%; height: 90%;
    top: 5%;
    z-index: 10;
    display: none;
    position: absolute;
    transition: all .3s ease;
    background-color: #0000;
}

#modal_back.show { display: flex; }

#file_modal {
    width: 180px; height: 72px;
    background-color: #eee;
}

.file_opts {
    width: 100%; height: 24px;
    margin: 0;
    border: none;
    transition: all .3s ease;
    border-bottom: 1px solid #000;
}

.file_opts:hover { background-color: #aaa; }

/* === デバッグ関係 === */

#info {
    width: 18%; height: 100%;
    color: #eee;
    background-color: #003;
    white-space: pre-line;
    margin: 0;
    overflow: hidden auto;
}

#debug_text {
    display: flex;
    width: 100%; height: 100%;
}
