/*
    ◯変数解説
        --key-wh: 白鍵のheight
        --key-bk: 黒鍵のheight
*/

:root {
    --key-wh: calc(1 / 27 * 90vh);
    --key-bh: calc(1 / 27 * 90vh * 0.6);
}

html, body {
    -webkit-user-select: none;
    margin: 0;
    user-select: none;
    background-color: #000;
}

#app {
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

#top_ui, #bottom_ui {
    top: 0; left: 0;
    width: 100%; height: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #141414dd;
}

#top_ui {
    overflow: auto hidden;
}

.ui_btn {
    margin: 7px;
    border: none;
    color: #eee;
    background-color: #000;
    transition: background-color .2s ease;
}

.ui_btn:hover {
    background-color: #333;
}

#file_btn {
    width: 6%; height: 50%;
    margin: 3px;
    font-size: 1vw;
}

.btn_divs {
    width: auto; height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.mode_btns, .ctrl_btns {
    width: 34px; height: 34px;
    margin: 3px;
    border: none;
    background-color: #000;
    transition: background-color .2s ease;
}

.mode_btns:hover, .ctrl_btns:hover {
    background-color: #333;
}

.mode_btns.selected, .mode_btns.selected:hover,
.ctrl_btns.selected, .ctrl_btns.selected:hover {
    background-color: #f707;
}

.mode_img, .ctrl_img {
    width: 100%; height: 100%;
}

.pulldown {
    width: 18%; height: 50%;
    margin-left: 18px;
    text-align: center;
    border-radius: 18px;
    background-color: #eee;
}

.property_divs {
    width: 18%; height: 50%;
    display: flex;
    margin-left: 18px;
    align-items: center;
    border-radius: 18px;
    background-color: #eee;
}

.property_img {
    width: auto; height: 100%;
}

#vol_label {
    width: 47px;
    text-align: right;
}

#vol_input {
    width: 70%; height: 34%;
    border-radius: 18px;
    appearance: none;
    background: linear-gradient(
        to right, 
        #f70 0%, #f70 var(--vol-value), 
        #777 var(--vol-value), #777 100%
    );
}

#vol_input::-webkit-slider-thumb {
    width: 14px; height: 14px;
    cursor: pointer;
    appearance: none;
    border: 1px solid #000;
    border-radius: 50%;
    background: #f70;
    transition: all 0.2s ease;
}

#vol_input::-webkit-slider-thumb:hover {
    width: 18px; height: 18px;
}

#color_input {
    margin-left: 18px;
    border: none;
}

#bottom_ui p {
    color: #eee;
}

#editor {
    top: 0; left: 0;
    width: 100%; height: 90%;
    display: flex;
    flex-direction: row;
}

#keyboards {
    width: 10.5%; height: auto;
    z-index: 0;
    position: relative;
    overflow: hidden auto;
    background-color: #fff;
}

#top_ui::-webkit-scrollbar,
#keyboards::-webkit-scrollbar,
#canvas::-webkit-scrollbar {
    width: 7px;
}

#top_ui::-webkit-scrollbar-track,
#keyboards::-webkit-scrollbar-track,
#canvas::-webkit-scrollbar-track {
    background: transparent;
}

#top_ui::-webkit-scrollbar-thumb,
#keyboards::-webkit-scrollbar-thumb,
#canvas::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #f707;
}

#top_ui::-webkit-scrollbar-thumb:hover,
#keyboards::-webkit-scrollbar-thumb:hover,
#canvas::-webkit-scrollbar-thumb:hover{
    background-color: #f70;
}

#white_keyboards {
    width: 100%;
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.white_key, .drum_key {
    width: 100%; height: var(--key-wh);
    border: none;
    border-top: 1px solid #000;
}

.white_key {
    text-align: right;
    font-size: larger;
    background-color: #fff;
}

#black_keyboards {
    width: 62%;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
}

#black_keyboards .black_key:nth-child(1) {
    margin-top: calc((var(--key-wh) * 2) - (var(--key-bh) / 2));
}

#black_keyboards .black_key:nth-child(5n),
#black_keyboards .black_key:nth-child(5n+2),
#black_keyboards .black_key:nth-child(5n+3) {
    margin-top: calc(var(--key-wh) - var(--key-bh));
}

#black_keyboards .black_key:nth-child(5n+1):not(:nth-child(1)),
#black_keyboards .black_key:nth-child(5n+4) {
    margin-top: calc((var(--key-wh) * 2) - var(--key-bh));
}

.black_key {
    width: 100%; height: var(--key-bh);
    border: none;
    background-color: #000;
}

#drums_keyboards {
    z-index: 1;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: calc(var(--key-wh) * 50);
}

.drum_key {
    background-color: #fff;
}

#canvas {
    width: 89.5%; height: auto;
    position: relative;
    overflow: hidden auto;
    background-color: #333;
}

.canvas {
    position: absolute;
}

#grid {
    z-index: 1;
    pointer-events: none;
    background-color: #333;
}

#put_notes {
    z-index: 2;
}

#move_notes {
    z-index: 3;
    background-color: #0000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 9999;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #00000080;
}

#spinner {
    width: 70px; height: 70px;
    border-radius: 50%;
    border: 7px solid #eee;
    border-top: 7px solid #f70;
    animation: spin 0.7s linear infinite;
}
